<article class="post">
    <% photos = article_photos(article) %>
    <% photos.each do |photo| %>
        <figure>
            <%= image_tag photo, :class => "photo-wide" %>
        </figure>
    <% end %>

    <header <% if (photos.any?) %> class="photos" <% end %>>
        <h1><%= link_to article.title, article.url %></h1>
        <time datetime="<%= article.date%>"><%= article.date.strftime(date_format) %></time>
    </header>
    <%= article.body %>
    <% campaign = campaign_info(article) %>
    <% if campaign %>
    <footer>
        <%= campaign_link(article) %>
    </footer>
    <% end %>
</article>
